---
import { getCollection, CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import H1 from '../../components/H1.astro';
import Main from '../../components/Main.astro';
import { Image } from 'astro:assets';
import { getEntryBySlug } from 'astro:content';

export const getStaticPaths = async () => {
    const posts = await getCollection("posts")
    const paths = posts.map(post => {
        return {
            params: {
                slug: post.slug
            },
            props: {
                post
            }
        }
    })
    return paths
}

// SSR
// const {slug} = Astro.params;
// const post = await getEntryBySlug("posts", slug as string)
// if (!post) {
//     return Astro.redirect('/404')
// }

type Props = {
    post: CollectionEntry<"posts">
}

const {post} = Astro.props;
const {Content} = await post.render();
// console.log(post)
---

<Layout title={post.data.title}>
    <Main>
        <H1 text={post.data.title} />
        <Image 
          src={post.data.image}
          width={1024}
          height={1024 / 1.5}
          alt={post.data.title}
          class="rounded-2xl shadow-xl mb-4 aspect-thumbnail object-cover"
        />
        <div class="prose prose-2xl overflow-visible relative mb-20">
            <Content />
        </div>
    </Main>
</Layout>